apiVersion: apps/v1
kind: Ingress
metadata:
  name: track-a-query-ingress
  namespace: track-a-query-production
spec:
  tls:
    - hosts:
      - track-a-query.service.justice.gov.uk
      secretName: track-a-query-certificate
  rules:
  - host: track-a-query.service.justice.gov.uk
    http:
      paths:
      - path: /
        backend:
          serviceName: track-a-query-service
          servicePort: 3000
