- content_for :sub_heading, flush: true
  = t("cases.edit.offender_sar_complaint.sub_heading")

= link_to "Back", case_path(@case.id), class: 'govuk-back-link'

= render "cases/offender_sar_complaint/#{@case.get_step_partial}", url: case_sar_offender_complaint_path(@case)

