# git-crypt kubernetes secrets
config/kube*/**/*secrets.yaml filter=git-crypt diff=git-crypt
config/kube*/**/qa/*secrets.yaml filter=git-crypt diff=git-crypt
config/kube*/**/development/*secrets.yaml filter=git-crypt diff=git-crypt
config/kube*/**/staging/*secrets.yaml filter=git-crypt diff=git-crypt
config/kube*/**/production/*secrets.yaml filter=git-crypt diff=git-crypt
config/kube*/**/demo/*secrets.yaml filter=git-crypt diff=git-crypt
