# General keys
secretfile filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt

# git-crypt kubernetes secrets
config/kubernetes/**/*secrets.yaml filter=git-crypt diff=git-crypt
config/kubernetes/**/qa/*secrets.yaml filter=git-crypt diff=git-crypt
config/kubernetes/**/development/*secrets.yaml filter=git-crypt diff=git-crypt
config/kubernetes/**/staging/*secrets.yaml filter=git-crypt diff=git-crypt
config/kubernetes/**/production/*secrets.yaml filter=git-crypt diff=git-crypt
config/kubernetes/**/demo/*secrets.yaml filter=git-crypt diff=git-crypt
