= render partial: 'layouts/header', locals: {page_heading: t('.new_assignment')}

= form_for [ @case, @assignment ] do |f|

  = f.collection_select :assignee_id, User.drafters, :id, :email
  = f.submit t('button.create_and_assign'),{class: 'button'}
