- content_for :page_title do
  = t("page_title.create_case_page.offender_sar.#{kase.get_step_partial}")

= link_to "Back", @back_link, class: 'govuk-back-link'

= render "cases/offender_sar/#{kase.get_step_partial}", url: case_create_action(@case.object)

