tr.data-subject.section.section-recipient-details
  th = '[Recipient details field one placeholder]'
  td = 'case_details.recipient_details'
  td = link_to "Change", edit_step_case_sar_offender_path(case_details, "recipient_details")
