      standard:
        initial_state: data_to_be_requested
        user_roles:

        ########################### SAR :: STANDARD WORKFLOW :: RESPONDER ########################
          responder:
            states:
              data_to_be_requested:
                mark_as_waiting_for_data:
                  transition_to: waiting_for_data
                add_data_received:
                add_note_to_case:
                send_acknowledgement_letter:
                send_day_1_email:
                send_chase_email:
                preview_cover_page:
                edit_case:
                start_complaint:
                  if: Workflows::Predicates#can_start_complaint?

              waiting_for_data:
                mark_as_ready_for_vetting:
                  transition_to: ready_for_vetting
                add_data_received:
                add_note_to_case:
                send_acknowledgement_letter:
                send_day_1_email:
                send_chase_email:
                preview_cover_page:
                edit_case:
                move_case_back:
                  transition_to: data_to_be_requested
                start_complaint:
                  if: Workflows::Predicates#can_start_complaint?

              ready_for_vetting:
                mark_as_vetting_in_progress:
                  transition_to: vetting_in_progress
                add_data_received:
                add_note_to_case:
                send_day_1_email:
                send_chase_email:
                preview_cover_page:
                edit_case:
                move_case_back:
                  transition_to: waiting_for_data
                  after_transition: Workflows::Hooks#unassign_vetter
                move_to_team_member:
                record_sent_to_sscl:
                date_sent_to_sscl_removed:
                start_complaint:
                  if: Workflows::Predicates#can_start_complaint?

              vetting_in_progress:
                mark_as_ready_to_copy:
                  transition_to: ready_to_copy
                  after_transition: Workflows::Hooks#unassign_vetter
                mark_as_second_vetting_in_progress:
                  transition_to: second_vetting_in_progress
                  after_transition: Workflows::Hooks#assign_vetter
                add_data_received:
                add_note_to_case:
                send_day_1_email:
                send_chase_email:
                preview_cover_page:
                edit_case:
                move_case_back:
                  transition_to: ready_for_vetting
                  after_transition: Workflows::Hooks#unassign_vetter
                move_to_team_member:
                record_sent_to_sscl:
                date_sent_to_sscl_removed:
                start_complaint:
                  if: Workflows::Predicates#can_start_complaint?

              second_vetting_in_progress:
                mark_as_ready_to_copy:
                  transition_to: ready_to_copy
                  after_transition: Workflows::Hooks#unassign_vetter
                add_data_received:
                add_note_to_case:
                send_day_1_email:
                send_chase_email:
                preview_cover_page:
                edit_case:
                move_case_back:
                  transition_to: ready_for_vetting
                  after_transition: Workflows::Hooks#unassign_vetter
                move_to_team_member:
                record_sent_to_sscl:
                date_sent_to_sscl_removed:
                start_complaint:
                  if: Workflows::Predicates#can_start_complaint?

              ready_to_copy:
                mark_as_ready_to_dispatch:
                  if: Workflows::Predicates#is_ready_to_dispatch?
                  transition_to: ready_to_dispatch
                add_data_received:
                add_note_to_case:
                send_day_1_email:
                send_chase_email:
                preview_cover_page:
                edit_case:
                move_case_back:
                  transition_to: vetting_in_progress
                capture_reason_for_lateness:
                  if: Workflows::Predicates#already_late?
                record_sent_to_sscl:
                date_sent_to_sscl_removed:
                start_complaint:
                  if: Workflows::Predicates#can_start_complaint?

              ready_to_dispatch:
                close:
                  transition_to: closed
                add_data_received:
                add_note_to_case:
                send_day_1_email:
                send_chase_email:
                send_dispatch_letter:
                preview_cover_page:
                edit_case:
                move_case_back:
                  transition_to: ready_to_copy
                record_sent_to_sscl:
                date_sent_to_sscl_removed:
                start_complaint:
                  if: Workflows::Predicates#can_start_complaint?

              closed:
                add_note_to_case:
                send_dispatch_letter:
                  if: Workflows::Predicates#case_not_rejected?
                preview_cover_page:
                  if: Workflows::Predicates#case_not_rejected?
                edit_case:
                record_sent_to_sscl:
                  if: Workflows::Predicates#case_not_rejected?
                date_sent_to_sscl_removed:
                  if: Workflows::Predicates#case_not_rejected?
                start_complaint:
                  if: Workflows::Predicates#can_start_complaint?
                mark_as_partial_case:
                mark_as_further_actions_required:
                mark_as_awaiting_response_for_partial_case:
                unmark_as_partial_case:
                unmark_as_further_actions_required:
                annotate_retention_changes:
                annotate_system_retention_changes:
              invalid_submission:
                close:
                  transition_to: closed
                edit_case:
                accepted_date_received:
                add_note_to_case:
                validate_rejected_case:
                  transition_to: data_to_be_requested
