= form_object.text_field :location,
    placeholder: t('cases.data_requests.new.location_placeholder'),
    maxlength: 500,
    required: true

= form_object.text_field :data,
    placeholder: t('cases.data_requests.new.data_placeholder'),
    required: true

hr
