div.moj-button-menu[id="moj-button-menu" data-module="moj-button-menu" data-button-text="Deadline options"]
  = action_button_for(:stop_the_clock)
  = action_button_for(:restart_the_clock)
  = action_button_for(:extend_sar_deadline)
