= link_to 'Take case on',
          accept_case_assignment_path(kase, kase.approver_assignment),
          remote: true,
          id: "take_case_on_#{kase.id}",
          class: 'button',
          method: :patch
