.feedback {
  textarea {
    width: 100%;
  }
  .form-label{
    @include bold-24();

    margin-top: em(25, 20);

    @include media(tablet) {
      margin-top: em(45, 24);
    }
  }
  .form-hint {
    @extend .form-hint;
    margin-top: em(10, 20);

    @include media(tablet) {
      margin-top: em(20, 24);
    }
  }

  @media print {
    display: none;
  }
}
