#proposition-menu{
  color: #ffffff;
  @include media(desktop) {
    text-align: right;
  }
  a{
    color: #ffffff;
    margin-left: $gutter;
    margin-right: $gutter;
    font-weight: bold;
    @include media(desktop) {
      margin-left : $gutter;
      margin-right: 0;
    }
    &:focus{
      outline: 1px solid $link-hover-colour;
    }
  }
}
.form-label, .gov_uk_date legend {
  font-weight: bold;
}

.gov_uk_date .form-hint{
  margin-bottom: 0;
}

.panel{
  margin-bottom: $gutter*2;
}

strong {
  font-weight: 600;
}

.table-font-xsmall th , .table-font-xsmall td {
  vertical-align: top;
}

table.basic-details th, td{
  vertical-align: top;
}

legend .heading-small{
  margin-bottom: $gutter;
}

.form-control-1-1 {
  width: 100%;
}

@include media(mobile) {
  #search_query_search_text {
    width: calc(100% - 12px)
  }
  #search-button { margin: 10px 0 0 0; width: 100%;}
}

.case-info .request {
  max-width: 700px;
}

// Make font sizes adjustable
main, .form-label, .form-label-bold, .heading-small, .heading-medium, .bold-small, .form-control, .table-font-xsmall td, .phase-banner p, #footer .footer-meta, #footer .footer-meta .copyright, #footer .footer-meta .footer-meta-inner .open-government-licence p, .form-hint, #footer .footer-meta .footer-meta-inner, .search-results-summary strong {
  font-size: 100%;
}

.table-font-xsmall th {
  font-size: 90%;
}

.form-group {
  margin-bottom: 2em;
}

.form-date .form-group {
  width: 2.5em;
}

.form-date .form-group-year {
  width: 3.5em;
}

table td, table th, .error-message {
  font-size: 100%;
}

// Fix empty cell layout issue on wrapped table view
td {
    min-height: 1em;
}

// Separate radios on small font size view
.multiple-choice label {
  min-height: 20px;
}

@include media (tablet) {

  .search-results-summary strong, .form-label, .form-label-bold, .heading-small, .heading-medium, .bold-small,  .form-control, table td, table th, .error-message  {
    font-size: 110%;
  }

  main, .table-font-xsmall td, .phase-banner p, #footer .footer-meta, #footer .footer-meta .copyright, #footer .footer-meta .footer-meta-inner .open-government-licence p, .form-hint, .table-font-xsmall th  {
    font-size: 100%;
  }

  #footer .footer-meta .footer-meta-inner {
    width: 74%;
  }

  .form-group {
    margin-bottom: 2em;
  }
}

// End making font sizes adjustable

// Open case list table scrollable to support large fonts
.cases-table-container {
  overflow: scroll;
}

// Fix mobile view issue on table long strings
@include media(mobile) {
  td {
    word-break: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
  }
}

.visually-hidden {
  user-select: none;
}

// Retention scheduling
#retention-cases {
  .button-destroy {
    background-color: $red;
    color: #fff;
    float: right;
  }

  .cases-table-container .multiple-choice {
    padding: 9px 0 0 13px;

    label {
      padding: 0;

      &:before {
        width: 20px;
        height: 20px;
        top: -2px;
        background-color: #fff;
      }

      &:after {
        border-width: 0 0 3px 3px;
        top: 6px;
        left: 5px;
        width: 10px;
        height: 4px;
      }
    }
  }
}

.data-request #data_request_location:disabled {
  border-color: $grey-2;
}

.govuk-warning-text__assistive {
  -webkit-clip-path: inset(50%) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.govuk-warning-text {
	margin-bottom: 30px;
	padding: 10px 0;
  position: relative;
}

.govuk-warning-text__icon {
  -moz-osx-font-smoothing: grayscale;
  -ms-user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  background: #0b0c0c;
  border-radius: 50%;
  border: 3px solid #0b0c0c;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: "GDS Transport",arial,sans-serif;
  font-size: 30px;
  font-weight: 700;
  forced-color-adjust: none;
  left: 0;
  line-height: 29px;
  margin-top: -5px;
  min-height: 35px;
  min-width: 35px;
  position: absolute;
  text-align: center;
  user-select: none;
}

.govuk-warning-text__text {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #0b0c0c;
  display: block;
  font-family: "GDS Transport",arial,sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.3157894737;
  padding-left: 45px;
}