#proposition-menu{
  color: #ffffff;
  @include media(desktop) {
    text-align: right;
  }
  a{
    color: #ffffff;
    margin-left: $gutter;
    margin-right: $gutter;
    font-weight: bold;
    @include media(desktop) {
      margin-left : $gutter;
      margin-right: 0;
    }
    &:focus{
      outline: 1px solid $link-hover-colour;
    }
  }
}

#proposition-name{
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#global-header.with-proposition .header-wrapper .header-proposition {
  float: none;
  width: unset;
}

#global-header .header-wrapper {
  max-width: 960px;
}

.govuk-header__service-name{
  font-size: 24px;
}

.govuk-header{
  border-bottom: none;
  font-size: 1.6rem;
}

.govuk-header__container{
  border-bottom: none;
  margin-bottom: 0;
  padding-top: 5px;
}

.govuk-header__logo {
  width: unset;
  padding-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px
}

.form-label, .gov_uk_date legend {
  font-weight: bold;
}

.gov_uk_date .form-hint{
  margin-bottom: 0;
}

.panel{
  margin-bottom: $gutter*2;
}

strong {
  font-weight: 600;
}

.table-font-xsmall th , .table-font-xsmall td {
  vertical-align: top;
}

table.basic-details th, td{
  vertical-align: top;
}

legend .heading-small{
  margin-bottom: $gutter;
}

.form-control-1-1 {
  width: 100%;
}

/* MOJ Frontend seems to render tiny text in a govuk-inset-text unsure why  */
.govuk-inset-text {
  font-size: 110%;
}

@include media(mobile) {
  #search_query_search_text {
    width: calc(100% - 12px)
  }
  #search-button { margin: 10px 0 0 0; width: 100%;}
}

.case-info .request {
  max-width: 700px;
}

// Make font sizes adjustable
main, .form-label, .form-label-bold, .heading-small, .heading-medium, .bold-small, .form-control, .table-font-xsmall td, .phase-banner p, #footer .footer-meta, #footer .footer-meta .copyright, #footer .footer-meta .footer-meta-inner .open-government-licence p, .form-hint, #footer .footer-meta .footer-meta-inner, .search-results-summary strong, .govuk-footer {
  font-size: 100%;
}

.table-font-xsmall th {
  font-size: 90%;
}

.form-group {
  margin-bottom: 2em;
}

.form-date .form-group {
  width: 2.5em;
}

.form-date .form-group-year {
  width: 3.5em;
}

table td, table th, .error-message {
  font-size: 100%;
}

// Fix empty cell layout issue on wrapped table view
td {
    min-height: 1em;
}

// Separate radios on small font size view
.multiple-choice label {
  min-height: 20px;
}

@include media (tablet) {

  .search-results-summary strong, .form-label, .form-label-bold, .heading-small, .heading-medium, .bold-small,  .form-control, table td, table th, .error-message  {
    font-size: 110%;
  }

  main, .table-font-xsmall td, .phase-banner p, #footer .footer-meta, #footer .footer-meta .copyright, #footer .footer-meta .footer-meta-inner .open-government-licence p, .form-hint, .table-font-xsmall th  {
    font-size: 100%;
  }

  #footer .footer-meta .footer-meta-inner {
    width: 74%;
  }

  .form-group {
    margin-bottom: 2em;
  }

  .govuk-tag {
    font-size: 100%;
  }
}

// End making font sizes adjustable

// Open case list table scrollable to support large fonts
.cases-table-container {
  overflow: auto;
}

// Fix mobile view issue on table long strings
@include media(mobile) {
  td {
    word-break: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
  }
}

.visually-hidden {
  user-select: none;
}

// Retention scheduling
#retention-cases {
  .button-destroy {
    background-color: $red;
    color: #fff;
    float: right;
  }

  .cases-table-container .multiple-choice {
    padding: 9px 0 0 13px;

    label {
      padding: 0;

      &:before {
        width: 20px;
        height: 20px;
        top: -2px;
        background-color: #fff;
      }

      &:after {
        border-width: 0 0 3px 3px;
        top: 6px;
        left: 5px;
        width: 10px;
        height: 4px;
      }
    }
  }
}

.data-requests .govuk-button--warning{
  @include button($red);
  margin-right: $gutter;
  margin-top: $gutter;
}

.data-request #data_request_location:disabled, .data-request-area #data_request_area_location:disabled {
  border-color: $grey-2;
}

.pages_number {
  width: 10%
}

.cost_settlement {
  width: 20%
}

.commissioning-document .govuk-inset-text {
  margin: 0;
  font-size: 1em;
  font-weight: bold
}

.edit_case__stop-the-clock-categories-error {
  &__message + .error-message {
    display: none;
  }
}
