#proposition-menu{
  color: #ffffff;
  @include media(desktop) {
    text-align: right;
  }
  a{
    color: #ffffff;
    margin-left: $gutter;
    margin-right: $gutter;
    font-weight: bold;
    @include media(desktop) {
      margin-left : $gutter;
      margin-right: 0;
    }
    &:focus{
      outline: 1px solid $link-hover-colour;
    }
  }
}
.form-label, .gov_uk_date legend {
  font-weight: bold;
}

.gov_uk_date .form-hint{
  margin-bottom: 0;
}

.panel{
  margin-bottom: $gutter*2;
}

strong {
  font-weight: 600;
}

.table-font-xsmall th , .table-font-xsmall td {
  vertical-align: top;
}

table.basic-details th, td{
  vertical-align: top;
}

legend .heading-small{
  margin-bottom: $gutter;
}

.form-control-1-1 {
  width: 100%;
}
