html {
  background:$grey-3;
}
body {
  background: #fff;
}

.container {
  @include container;
  @include border-box-sizing;
}

#page {
  @extend %site-width-container;
}
.body-content {
  @include span(6 of 12);
  @include first;
}

.question {
  .column-half{
    padding: 0;
    margin-bottom: $gutter;
  }
  @include media(tablet) {
    .column-half {
      @include span(6 of 12 no-gutters);
      padding: 0;
    }
  }

  &.content {
    @include media(tablet) {
      @include span(9 of 12);
      @include first;
      border-right: 3px solid $border-colour;
    }
  }

  &.status {
    @include media(tablet) {
      @include span(3 at 10 of 12);
      @include last;
    }
  }
}

// Responsive tables code
@media screen and (max-width: 1024px) {
  table.report {
    border: 0;
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      td:last-child {
        border-bottom: 0;
      }
      th, td {
        br {
          display: none;
        }
        padding: 15px;
      }
    }

    tbody tr td:first-child {
      background-color: $border-colour;
      font-weight: 700;
      a {
        display: block;
      }
    }

    thead {
      display: none;
    }

    td:before {
      content: attr(aria-label);
      float: left;
      font-weight: bold;
    }
  }
}
