.pagination-next-prev {
  font-size: large;
}


.pagination {
  position: relative;
  overflow: hidden;
  margin-top: $gutter ;
  width: 100%;
}

.pagination li {
  list-style-image: none;
  list-style: none;
  width: 50%;

}

.pagination a:hover{
  background: $highlight-colour;

  .pagination-pages {
    text-decoration: underline;
  }
}

.pagination-prev {
  float: left;
  a {
    padding: 15px 0 15px 35px;
    display: block;
    text-decoration: none;
    &::before {
      background: transparent image-url('arrow-sprite.png') no-repeat -20px -11px;
      margin: -4px 0 0 -32px;
      display: block;
      float: left;
      width: 30px;
      height: 38px;
      content: " ";
    }
  }
}
.pagination-next {
  float: right;
  text-align: right;
  a {
    padding: 15px 35px 15px 0;
    display: block;
    text-decoration: none;
    &::before {
      background: transparent image-url('arrow-sprite.png') no-repeat -102px -11px;
      margin: -4px -32px 0 0;
      display: block;
      float: right;
      width: 30px;
      height: 38px;
      content: " ";
    }
  }
}

.pagination-next-prev{
  @include core-27();
  text-decoration: none;
}

.pagination-pages {
  @include core-16();
}
