.table-caption {
  @include bold-24;
  float: left;
  margin-top: $gutter;
}

.error-summary,.notice-summary {
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.notice-summary{
  @extend .error-summary;
  border-color: $button-colour;
}

.question {
  h2 {
    @include bold-24;
  }

  .form-label{
    font-weight: bold;
  }

  select.form-control{
    width: 80%;
  }

  p {
    padding-right: $gutter;
  }
}

.case_name {
  color: $grey-1;
  margin-bottom: $gutter-half;
}

.ajax-success {
  background-color: #e9f5f4;
}

.case-name-detail {
  color: $grey-1;
}

.ajax-success--de-escalate {
  background-color: $grey-3;
}

.ajax-success--de-escalate .case_name, .ajax-success .case_name  {
  color: #000000;
}

.js-undo-de-escalate-link, .js-undo-take-on-link {
  display: block;
  margin-top: $gutter-half;
}
