.table-caption {
  @include bold-24;
  float: left;
  margin-top: $gutter;
}

.error-summary,.notice-summary {
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.notice-summary{
  @extend .error-summary;
  border-color: $button-colour;
}

.question {
  h2 {
    @include bold-24;
  }

  .form-label{
    font-weight: bold;
  }

  select.form-control{
    width: 80%;
  }

  p {
    padding-right: $gutter;
  }
}

.case_name {
  color: $grey-1;
  margin-bottom: $gutter-half;
}

.ajax-success {
  background-color: #e9f5f4;
}

.case-name-detail {
  color: $grey-1;
}

.ajax-success--de-escalate {
  background-color: $grey-3;
}

.ajax-success--de-escalate .case_name, .ajax-success .case_name  {
  color: #000000;
}

.js-undo-de-escalate-link, .js-undo-take-on-link {
  display: block;
  margin-top: $gutter-half;
}

.strong-block{
  display: block;
}

strong.normal-weight {
  font-weight: normal;
}

.container-notices {
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
  strong {
    display: block;
  }
}

/*********** Case Attachments ***********/

.case-attachments-group {
  margin-bottom: $gutter;
}

.case-attachments--primary {
  @include bold-24();

  margin-top: 0;
  margin-bottom: 0;

  @include media(tablet) {
    margin-top: 0;
  }

}

.case-attachments--secondary {
  @include core-19();
  display: block
}

.case-attachments-report {
  @extend .table-font-xsmall;
  margin-top: $gutter-half;

  tbody {
    border-top: 1px solid $border-colour;
  }

  th {
    width: 60%;
  }
  .request--responses--actions {
    text-align: right;

    @media print {
      display: none;
    }
  }
}

.action-right-aligned {
  text-align: right;
}

.secondary-action-link {
  margin-top: $gutter;
  display: inline-block;
}

table caption{
  text-align: left;
}

.table-captions {
  @include bold-24();
  margin-bottom: $gutter-half;
}
