.table-caption {
  @include bold-24;
  float: left;
  margin-top: $gutter;
}

.error-summary,.notice-summary {
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.notice-summary{
  @extend .error-summary;
  border-color: $button-colour;
}

.question {
  h2 {
    @include bold-24;
  }

  .form-label{
    font-weight: bold;
  }

  select.form-control{
    width: 80%;
  }

  p {
    padding-right: $gutter;
  }
}
