header.main-header {
  @include container;
  margin-bottom:$gutter;
  h1{
    @include span(8 of 12);
    @include first;
    @include heading-48;
    font-weight: 700;
  }

}

.confirmation-header {
  @include span(8 of 12);
  @include first;

  background-color: $turquoise;
  color: $white;
  text-align: center;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
  margin-bottom: $gutter;
  margin-top: $gutter ;

  .normal{
    margin-bottom: $gutter-half;
    margin-top: $gutter-half;
  }
}


.confirmation-tick {
  width: 36px;
  height: 36px;
  margin-right: $gutter-half;
}


.table-caption {
  @include bold-24;
  float: left;
  margin-top: $gutter;
}

.error-summary,.notice-summary {
  @include span(8 of 12);
  @include first;
  float: none;
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.notice-summary{
  @extend .error-summary;
  border-color: $button-colour;

}