header.main-header {
  margin-bottom:$gutter;
  h1{
    @include grid-column( 3/4 );
    @include heading-48;
    font-weight: 700;
  }

}

.confirmation-tick {
  width: 36px;
  height: 36px;
  margin-right: $gutter-half;
}

.table-caption {
  @include bold-24;
  float: left;
  margin-top: $gutter;
}

.error-summary,.notice-summary {
  @include grid-column( 3/4 );
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.notice-summary{
  @extend .error-summary;
  border-color: $button-colour;
}

.question {
  h2 {
    @include bold-24;
  }

  .form-label{
    font-weight: bold;
  }

  select.form-control{
    width: 80%;
  }

  p {
    padding-right: $gutter;
  }
}

.case-heading {
  @extend .heading-xlarge;
}
.case-heading--secondary {
  @include core-27();
  color: $secondary-text-colour;
}
