.foi-trigger, .overturned_foi-trigger, .sar-trigger, .ico-trigger, .trigger {
  font-weight: bold;
  color: #FFF;
  text-align: center;
  background-color: $red;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
}
