.case-status {
  &.grid-row {
    @include media(tablet) {
      @include flexbox();
      align-items: stretch;
      margin: 0;
    }
  }

  &__info {
    margin-left: $gutter-half;
    margin-right: $gutter-half;
    margin-bottom: $gutter-half;
    padding: $gutter-two-thirds;

    @include media(tablet) {
      @include flex(1);

      margin-left: 0;
      margin-bottom: $gutter-half;
      padding-bottom: $gutter-half;
    }

    &--details {
      background-color: $govuk-blue;
      color: #ffffff;

      @include media(tablet) {
        min-width: calc(66% - #{$gutter-half});
        margin: 0 $gutter-half 0 0;
      }
    }

    &--deadlines {
      @include media(tablet) {
        margin: 0;
      }
    }

    &--stop_the_clock {
      color: #767676;
    }

    .moj-button-menu {
      .govuk-button {
        font-size: 1.5rem;
      }
    }
  }

  &__group {
    margin-bottom: $gutter;

    &:last-child {
      margin-bottom: 0;
    }

    &.external {
      &:last-child {
        @include media(tablet) {
          bottom: -7px;
          position: relative;
        }
      }

      &:first-child {
        @include media(tablet) {
          position: static;
        }
      }
    }

    &.page-counts {
      margin-top: -$gutter-two-thirds;

      .gridrow {
        .column-one-third {
          margin: $gutter-two-thirds 0 $gutter;
          padding-left: 0;

          @include media(tablet) {
            padding: 0 $gutter;
          }
        }
      }
    }
  }

  &__heading {
    font-size: 120%;
    line-height: 1.25em;

    &--pages {
      @include media(tablet) {
        margin-bottom: $gutter-two-thirds;
      }
    }
  }

  &__data {
    font-size: 120%;
    font-weight: bold;
  }

  &__data--large {
    @include bold-48();
  }

  &__date-title {
    font-size: 120%;
    color: $secondary-text-colour;
    margin-bottom: 0.5rem;
  }

  &__date-value {
    @include bold-36();
  }
}
