.data-request {
  &__single {
    border-bottom: 1px solid $grey-3;
    margin-bottom: $gutter;
  }

  &__position {
    margin-bottom: $gutter-half;
  }

  &__location {
    text-transform: capitalize;
  }

  &__data {
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
