.case-filters {
  padding-left: $gutter-half;

  &__summary {
    text-decoration: underline;

    &--outer {
      padding-top: 5px;
      display: inline-block;
    }
  }

  &__container,
  &__content {
    padding: $gutter-half;
    border-left: 5px solid $grey-2;

    details {
      margin-bottom: $gutter-half;
    }
  }

  &__content {
    legend {
      padding: $gutter-half 0;
    }

    &--filter_exemption {
      max-height: 15em;
      overflow: hidden;
      overflow-y: scroll;
      margin-bottom: $gutter;
    }
  }
}
