.global-nav {
  padding: 0 0;

  &__menu-toggler {
    font-weight: normal;
    font-size: 1.5rem;
    position: relative;
    float: right;
    top: -4em;
    margin: 0;
    padding: 0;
    border: 0;
    color: $white;
    background: none;

    @include media(desktop) {
      display: none;
    }

    &:after {
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
      border-width: 8.66px 5px 0 5px;
      border-top-color: inherit;
      content: "";
      margin-left: 5px;
    }

    &--open {
      &:after {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        border-width: 0 5px 8.66px 5px;
        border-color: transparent;
        border-bottom-color: inherit;
      }
    }
  }

  &__container {
    clear: both;

    .js-enabled & {
      display: none;

      &--open {
        display: block;
      }
    }

    @include media(desktop) {
      padding: 10px 0 0 $gutter-half;

      .js-enabled & {
        display: block;
      }
    }

  }

  &__item {
    padding: 10px 0;
    border-bottom: 1px solid #8eb8dc;

    @include media(desktop) {
      display: inline-block;
      border: none;
      padding: 5px 0;
      margin-right: $gutter-half;
    }

    &:last-child {
      border-bottom: none;
    }

    // Javid: Current navigation is controlled by data definition in settings.yml
    // Therefore cannot delete entries in settings.yml without causing significant
    // breaking changes to the system, e.g. filters / page loading
    // Workaround is to hide the nagivation items in the current global nav bar

    &.incoming_cases,
    &.closed_cases,
    &.my_open_cases,
    &.search_cases {
      display: none!important;
    }
  }

  &__link:link,
  &__link:visited {
    color: $white;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media print {
    display: none;
  }
}
