.team {
  border-top: 1px solid $border-colour;
  padding-bottom: $gutter;
}

.team-unit-name {
  @extend .heading-medium;
}

.business-groups {
  line-height: 1.5em;
  margin-bottom: $gutter * 2.5;
}

.team-details p{
  margin-bottom: 0;
}
