# PostgreSQL. Versions 9.1 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On OS X with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On OS X with MacPorts:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'
#
# For details on connection pooling, see rails configuration guide
# http://guides.rubyonrails.org/configuring.html#database-pooling

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 50 } %>

development:
  <<: *default
  url: <%= ENV.fetch('DATABASE_URL', 'postgres://localhost/correspondence_platform_development') %>

test:
  <<: *default
  database: correspondence_platform_test<%= ENV['TEST_ENV_NUMBER'] %>
  access_key_id: not_real
  secret_access_key: not_real

production:
  <<: *default
  url: <%= ENV.fetch('DATABASE_URL', '') %>
