case_uploads_s3_bucket: "correspondence-staff-case-uploads-testing"

case_uploads_accepted_types:
- application/pdf
- application/msword
- application/vnd.openxmlformats-officedocument.wordprocessingml.document
- application/vnd.ms-excel
- application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
- application/vnd.oasis.opendocument.text
- text/rtf
- application/rtf
- image/jpeg
- image/png
- image/tiff
- image/bmp
- image/gif
- image/x-bitmap
attachments_presigned_url_expiry: 900
max_attachment_file_size_in_MB: 20

# These are set in run.sh
git_source:  Git Source Not Available
build_date:  Build Date Not Available
git_commit:  Git Commit Not Available

cts_email_url: http://localhost
cts_email_port: 3000

s3_upload_max_tries: 5

rpi_jwe_key: "00f8f5a250d5f4ba" # this is replaced in deployed environments

govuk_notify_api_key: 'never-put-real-api-key-here-use-env-vars'
new_assignment_notify_template: '6f4d8e34-96cb-482c-9428-a5c1d5efa519'
ready_for_press_or_private_review_notify_template: 'fe9a1e2a-2707-4e10-bb63-aae142f10382'
reset_password_instructions_notify_template: '705029c9-d7e4-47a6-a963-944cb6d6b09c'
case_ready_to_send_notify_template: '46dc4848-5ad7-4772-9de4-dd6b6f558e5b'
redraft_requested_notify_template: '534f0e07-007f-4a48-99e4-c46a41fbd81f'
responses_sent_back_notify_template: '51ddb4e1-477d-496f-a131-e500c0bc351e'
message_received_notify_template: '55d7abbc-9042-4646-8835-35a1b2e432c4'
assigned_to_another_user_template: '1e26c707-e7e3-4b21-835d-1241da6ea251'
unlock_user_account_template: '9910545b-1b46-41d1-a5e3-f8b31ff450c0'
case_closed_notify_template: '0f89383e-cee2-4a10-bc47-97879d1f6dc4'
commissioning_notify_template: '94b66c61-feff-42f5-950d-d0af0a8205ef'
commissioning_notify_reply_to: '879d54cc-a5f3-4acc-aa37-ca04e8f6c22d'
rpi_template: '5e63f6c1-e7d6-47da-845c-fa47343ab882'
commissioning_chase_template: '95b9af74-5037-4ec2-9e82-ee6fe1df6953'
commissioning_chase_escalation_template: '09f631bc-58a2-4142-b4e8-43784646a7d1'
commissioning_chase_overdue_template: 'd20279ec-116c-492f-a7bb-130556b20247'

emails:
  branston: data.access1@justice.gov.uk
  disclosure: data.access@justice.gov.uk

foi_cases:
  default_managing_team: DISCLOSURE-BMT
  default_clearance_team: DISCLOSURE
sar_cases:
  default_managing_team: DISCLOSURE-BMT
  default_clearance_team: DISCLOSURE
ico_cases:
  default_managing_team: DISCLOSURE-BMT
  default_clearance_team: DISCLOSURE
overturned_foi_cases:
  default_managing_team: DISCLOSURE-BMT
  default_clearance_team: DISCLOSURE
overturned_sar_cases:
  default_managing_team: DISCLOSURE-BMT
  default_clearance_team: DISCLOSURE
offender_sar_cases:
  default_managing_team: BRANSTON
  default_clearance_team: BRANSTON

pit_extension_limit: 20
sar_extension_default_gap: 30
sar_extension_default_limit: 60
auto_close_stopped_threshold: 90

default_date_format: '%-d %b %Y'
default_time_format: '%d %b %Y %H:%M'

press_office_team_name: Press Office
private_office_team_name: Private Office

press_office_team_code: PRESS-OFFICE
private_office_team_code: PRIVATE-OFFICE

homepage_navigation:
  pages:
    incoming_cases:
      path: /cases/incoming
      visibility: approver
      scope:
        'DISCLOSURE': incoming_approving_cases
        'PRESS-OFFICE': incoming_cases_press_office
        'PRIVATE-OFFICE': incoming_cases_private_office

    open_cases:
      path: /cases/open
      scope:
        approver: open_flagged_for_approval
        manager: open_cases
        responder: open_cases

    my_open_cases:
      path: /cases/my_open
      scope:
        approver: my_open_flagged_for_approval_cases
        manager: my_open_cases
        responder: my_open_cases
      tabs:
        in_time:
          scope: in_time_cases
        late:
          scope: late_cases

    closed_cases:
      path: /cases/closed
      scope: closed_cases

    rrd_pending:
      path: /cases/retention
      scope: retention_cases
      visibility:
        - team_admin
      tabs:
        ready_for_removal:
          scope: erasable_cases
        pending_removal:
          scope: triagable_cases

global_navigation:
  default_urls:
    approver: /cases/open
    manager: /cases/open
    responder: /cases/open
    team_admin: /teams

  pages:
    create_case:
      path: /cases/new
      visibility:
        - manager
        - BRANSTON

    incoming_cases:
      path: /cases/incoming
      visibility: approver
      scope:
        'DISCLOSURE': incoming_approving_cases
        'PRESS-OFFICE': incoming_cases_press_office
        'PRIVATE-OFFICE': incoming_cases_private_office

    open_cases:
      path: /cases/open
      scope:
        approver: open_flagged_for_approval
        manager: open_cases
        responder: open_cases

    my_open_cases:
      path: /cases/my_open
      scope:
        approver: my_open_flagged_for_approval_cases
        manager: my_open_cases
        responder: my_open_cases
      tabs:
        in_time:
          scope: in_time_cases
        late:
          scope: late_cases

    closed_cases:
      path: /cases/closed
      scope: closed_cases

    search_cases:
      path: /cases/search
    teams:
      path: /teams
    stats:
      path: /stats
      visibility:
        - manager
        - responder
    system_admin:
      path: /admin
      visibility:
        - admin

    addresses:
      path: /contacts
      visibility:
        - BRANSTON

    rrd_pending:
      path: /cases/retention
      scope: retention_cases
      visibility:
        - team_admin
      tabs:
        ready_for_removal:
          scope: erasable_cases
        pending_removal:
          scope: triagable_cases

  tabs:
    in_time:
      params:
        timeliness: in_time
    late:
      params:
        timeliness: late

  structure:
    'DISCLOSURE':
      incoming_cases_dacu_disclosure: default
      open_cases:
      my_open_cases:
      closed_cases:
      search_cases:
      teams:

    'PRESS-OFFICE':
      incoming_cases_press_office: default
      open_cases:
      my_open_cases:
      closed_cases:
      search_cases:
      teams:

    'PRIVATE-OFFICE':
      incoming_cases_private_office: default
      open_cases:
      my_open_cases:
      closed_cases:
      search_cases:
      teams:

    'manager':
      open_cases:
      my_open_cases:
      closed_cases:
      search_cases:
      teams:
      stats:

    '*':
      open_cases:
      my_open_cases:
      closed_cases:
      search_cases:
      teams:

enabled_features:
  # A tempory feature flag to hide editing functionality on overturneds until the feature is built
  edit_overturned:
    Local: false
    Host-dev: false
    Host-staging: false
    Host-qa: false
    Host-prod: false
  # Before enabling a host, make sure the necessary ENV variables are exposed in the environment
  # through config_map / secrets. Refer to `config/initializers/devise.rb`, omniauth section.
  devise_azure_activedirectory:
    Local: true
    Host-dev: true
    Host-staging: true
    Host-qa: true
    Host-prod: false
  email_commissioning_document:
    Local: true
    Host-dev: true
    Host-staging: true
    Host-qa: true
    Host-prod: true
  stop_the_clock:
    Local: true
    Host-dev: true
    Host-staging: false
    Host-qa: true
    Host-prod: false


# Timing definitions for RetentionSchedule (GDPR / DPA)
retention_timings:
    common:
      viewable_from: 4
    off_sars:
      erasure:
        years: 8
        months: 6
