      standard:
        initial_state: unassigned
        user_roles:

        ########################### SAR :: STANDARD WORKFLOW :: MANAGER ########################
          manager:
            states:
              unassigned:
                add_message_to_case:
                assign_responder:
                  transition_to: awaiting_responder
                destroy_case:
                edit_case:
                  if: Workflows::Predicates#not_overturned?
                flag_for_clearance:
                  switch_workflow: trigger
                link_a_case:
                remove_linked_case:
                request_further_clearance:
                  if: Case::SARPolicy#can_request_further_clearance?
                  switch_workflow: trigger

              awaiting_responder:
                add_message_to_case:
                assign_to_new_team:
                  transition_to: awaiting_responder
                destroy_case:
                edit_case:
                  if: Workflows::Predicates#not_overturned?
                flag_for_clearance:
                  switch_workflow: trigger
                link_a_case:
                remove_linked_case:
                request_further_clearance:
                  if: Case::SARPolicy#can_request_further_clearance?
                  switch_workflow: trigger

              drafting:
                add_message_to_case:
                  after_transition: Workflows::Hooks#notify_responder_message_received
                assign_to_new_team:
                  transition_to: awaiting_responder
                destroy_case:
                edit_case:
                  if: Workflows::Predicates#not_overturned?
                flag_for_clearance:
                  switch_workflow: trigger
                link_a_case:
                remove_linked_case:
                request_further_clearance:
                  if: Case::SARPolicy#can_request_further_clearance?
                  switch_workflow: trigger

              closed:
                add_message_to_case:
                assign_to_new_team:
                destroy_case:
                edit_case:
                  if: Workflows::Predicates#not_overturned?
                update_closure:
                  if: Workflows::Predicates#not_overturned?
                link_a_case:
                remove_linked_case:

          ########################### SAR :: STANDARD WORKFLOW :: RESPONDER ########################
          responder:
            states:
              unassigned:
                add_message_to_case:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?

              awaiting_responder:
                accept_responder_assignment:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?
                  transition_to: drafting
                add_message_to_case:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?
                reject_responder_assignment:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?
                  transition_to: unassigned

              drafting:
                add_message_to_case:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?
                  after_transition: Workflows::Hooks#notify_responder_message_received
                respond_and_close:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?
                  transition_to: closed
                respond:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?
                close:
                  after_transition: Workflows::Hooks#notify_managing_team_case_closed
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?
                  transition_to: closed
                reassign_user:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?

              closed:
                add_message_to_case:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team?
                update_closure:
                  if: Workflows::Predicates#responder_is_member_of_assigned_team_and_not_overturned?


          ########################### SAR :: STANDARD WORKFLOW :: APPROVER ########################
          approver:
            states:
              unassigned:
                add_message_to_case:
                  if: Workflows::Predicates#user_is_approver_on_case?
                flag_for_clearance:
                  switch_workflow: trigger

              awaiting_responder:
                flag_for_clearance:
                  switch_workflow: trigger

              drafting:
                flag_for_clearance:
                  switch_workflow: trigger
