

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <span class="govuk-caption-xl">Create Offender SAR case</span>
      <h1 class="govuk-heading-xl">Who is the subject?</h1>
    </legend>

    <div class="govuk-form-group">
      <h3 class="govuk-heading-m">Full name of data subject</h3>
      <input class="govuk-input" id="" name="" type="text">
    </div>

    <div class="govuk-form-group">
      <h3 class="govuk-heading-m">Subject’s PNC or other ID numbers</h3>
      <input class="govuk-input" id="" name="" type="text">
    </div>

    <div class="govuk-form-group">
      <h3 class="govuk-heading-m">Subject's alias if applicable</h3>
      <input class="govuk-input" id="" name="" type="text">
    </div>
    <p><a href="">Add another alias</a></p>

    <p>&nbsp;</p>

    <div class="govuk-form-group">
      <h3 class="govuk-heading-m">Previous SAR cases</h3>
      <input class="govuk-input" id="" name="" type="text">
    </div>
    <p><a href="">Add another previous SAR request</a></p>

    <p>&nbsp;</p>

    <div class="govuk-form-group">
      <h3 class="govuk-heading-m">What is the subject's relevant prison number?</h3>
      <input class="govuk-input" id="" name="" type="text">
    </div>
    <p><a href="">Add another prisoner number</a></p>

    <p>&nbsp;</p>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">Date of birth</h1>
        </legend>
        <span id="" class="govuk-hint">For example, 12 11 2007</span>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="">Day</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="" name="" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">Month</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="" name="" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="">Year</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="" name="" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <p>&nbsp;</p>

    <div class="govuk-form-group">
      <label class="govuk-label" for="">
        <span class="govuk-visually-hidden">Full name of subject</span>
      </label>
    </div>

    <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h3 class="govuk-heading-m">What is their relationship to the MOJ?</h3>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="" name="" type="radio" value="">
          <label class="govuk-label govuk-radios__label" for="">Offender</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="" name="" type="radio" value="">
          <label class="govuk-label govuk-radios__label" for="">Ex-offender</label>
        </div>
      </div>
    </div>

    <p>&nbsp;</p>

    <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h3 class="govuk-heading-m">Flag as high profile case?</h3>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="" name="" type="radio" value="">
          <label class="govuk-label govuk-radios__label" for="">Yes</label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="" name="" type="radio" value="">
          <label class="govuk-label govuk-radios__label" for="">No</label>
        </div>
      </div>
    </div>

    <p>&nbsp;</p>

    <a class="govuk-button" href="create-case2">Continue</a>
    
  </div>
</div>






<% if true %>
<!-- <p>hi</p> -->
<% else %>
<!-- <p>Bye</p> -->
<% end %>


