CASE DETAUIKLSß


<!-- <img src="<%= image_path('icons/message-bubble.svg') %>" class="my-image" alt="dsf fds" />
-->
<% if true %>
	<!-- <p>hi</p> -->
<% else %>
	<!-- <p>Bye</p> -->
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Cases</h1>
  </div>
  <div class="govuk-grid-column-full">

    <p>This is text describing what you would need to know about creating a case.</p>
    <a class="govuk-button" href="create-case1">Create case</a>

    <p>&nbsp;</p>

    <div class="govuk-tabs" data-module="tabs">
      <h2 class="govuk-tabs__title">Contentss</h2>
      <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item" role="presentation">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day" id="tab_past-day" role="tab" aria-controls="past-day" tabindex="0" aria-selected="true">My open cases</a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
          <a class="govuk-tabs__tab" href="#past-week" id="tab_past-week" role="tab" aria-controls="past-week" tabindex="-1" aria-selected="false">All cases</a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
          <a class="govuk-tabs__tab" href="#past-month" id="tab_past-month" role="tab" aria-controls="past-month" tabindex="-1" aria-selected="false">Closed cases</a>
        </li>
      </ul>
      <section class="govuk-tabs__panel" id="past-day" role="tabpanel" aria-labelledby="tab_past-day">
        <details class="govuk-details" role="group">
  <summary class="govuk-details__summary" role="button" aria-controls="details-content-5a380d90-47dd-47cb-b272-9105fe8c34d9" aria-expanded="false">
    <span class="govuk-details__summary-text">
      Filter cases by type
    </span>
  </summary>
  <div class="govuk-details__text" id="details-content-5a380d90-47dd-47cb-b272-9105fe8c34d9" aria-hidden="true">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Type
        </legend>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste-1">SAR - Offender</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">ICO appeals</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-3">ICO overturned</label>
          </div>
        </div>
        <p>&nbsp;</p>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Sensitivity</legend>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste-1">High profile</label>
          </div>
        </div>


        <p>&nbsp;</p>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Time
        </legend>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste-1">In time</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">Late</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-3">Chasing dates</label>
          </div>
        </div>


        <p>&nbsp;</p>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Open case status </legend>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste-1">In time</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">Late</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-3">Chasing dates</label>
          </div>
        </div>







        <p>&nbsp;</p>
        <button type="submit" class="govuk-button">Save and filter cases</button>
      </fieldset>
    </div>
  </div>
</details>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Case no.</th>
              <th class="govuk-table__header" scope="col">Sensitivity</th>
              <th class="govuk-table__header" scope="col">Type</th>
              <th class="govuk-table__header" scope="col">Request</th>
              <th class="govuk-table__header" scope="col">Draft deadline</th>
              <th class="govuk-table__header" scope="col">Final deadline</th>
              <th class="govuk-table__header" scope="col">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell"><a href="case-detail">181018005</a></th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">Offender SAR</td>
              <td class="govuk-table__cell">Information on disturbance at HMP Bedford</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">20 Oct 2018</td>
              <td class="govuk-table__cell">Waiting for data</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell"><a href="case-detail">181018005</a></th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">Offender SAR</td>
              <td class="govuk-table__cell">Information on disturbance at HMP Bedford</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">20 Oct 2018</td>
              <td class="govuk-table__cell">Waiting for data</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell"><a href="case-detail">181018005</a></th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">Offender SAR</td>
              <td class="govuk-table__cell">Information on disturbance at HMP Bedford</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">20 Oct 2018</td>
              <td class="govuk-table__cell">Waiting for data</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell"><a href="case-detail">181018005</a></th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">Offender SAR</td>
              <td class="govuk-table__cell">Information on disturbance at HMP Bedford</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">20 Oct 2018</td>
              <td class="govuk-table__cell">Waiting for data</td> 
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell"><a href="case-detail">181018005</a></th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">Offender SAR</td>
              <td class="govuk-table__cell">Information on disturbance at HMP Bedford</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">20 Oct 2018</td>
              <td class="govuk-table__cell">Waiting for data</td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell"><a href="case-detail">181018005</a></th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">Offender SAR</td>
              <td class="govuk-table__cell">Information on disturbance at HMP Bedford</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">20 Oct 2018</td>
              <td class="govuk-table__cell">Waiting for data</td>
            </tr>
          </tbody>
        </table>

      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week" role="tabpanel" aria-labelledby="tab_past-week">
        <p>Text</p>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month" role="tabpanel" aria-labelledby="tab_past-month">
        <p>Text</p>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
        <h2 class="govuk-heading-l">Past year</h2>
      </section>
    </div>

  </div>

</div>


