<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <span class="govuk-caption-xl">Create SAR case</span>
      <h1 class="govuk-heading-xl">When was the SAR received?</h1>
    </legend>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="" role="group">
        <span id="" class="govuk-hint">For example, 12 11 2007</span>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-date-input" id="">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="" name="" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="" name="" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="" name="" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <label class="govuk-label govuk-date-input__label" for="">&nbsp;</label>
            <button type="submit" class="govuk-button govuk-button--secondary" style="align:bottom;">Today's date</button>
          </div>
        </div>
      </fieldset>
    </div>

    <a class="govuk-button" href="case-created">Continue</a>

  </div>

</div>
