<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-xl">Create SAR case</span>
        <h1 class="govuk-heading-xl">What information is being requested?</h1>
      </legend>

      <div class="govuk-form-group">
        <h3 class="govuk-heading-m">Request details</h3>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="20" aria-describedby="more-detail-hint"></textarea>
      </div>

      <a class="govuk-button" href="create-case4">Continue</a>

    </div>

  </div>
