#js-search-for-case.form-group
  .js-original-case
    = f.text_field :original_case_number, class: ['form-control-1-8']
    .form-group
      = button_tag 'Link original case',
              type: 'button',
              class: 'button-secondary',
              id: 'xhr-search-original-case-button',
              data: { url: new_linked_cases_for_cases_path,
                      correspondence_type: @correspondence_type_key,
                      link_type: 'original',
                      linked_related_case_numbers: ''}

  .js-related-case.js-hidden
    = f.text_field :related_case_number, class: ['form-control-1-8']
    .form-group
      = button_tag 'Link related case',
              type: 'button',
              class: 'button-secondary',
              id: 'xhr-search-related-case-button',
              data: { url: new_linked_cases_for_cases_path,
                      correspondence_type: @correspondence_type_key,
                      link_type: 'related',
                      linked_related_case_numbers: '' }


.js-original-case-and-friends
  .js-original-case-report
    = render partial: 'cases/ico/case_linking/linked_original_case',
           locals: { original_case: nil, linked_case_errors: nil}

