
.js-enabled .block-label.selection-button-radio::before,
.js-enabled .block-label.selection-button-radio::after,
.js-enabled .block-label.selection-button-checkbox::before,
.js-enabled .block-label.selection-button-checkbox::after {
  display: none;
}

.js-enabled .block-label input[type="radio"],
.js-enabled .block-label input[type="checkbox"]  {
  opacity: 1;
  filter: none;
}
