<h1>When was the SAR received?</h1>

<%= link_to "Previous", "/cases/new/offender/requested-info "%>

<%= form_for @case, url: cases_offender_path do |f| %>
  <input type="hidden" name="current_step" value="<%= @case.current_step %>" %>
  <%= f.submit "Continue" %>
<% end %>
