apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: track-a-query-ingress
  namespace: track-a-query-qa
  annotations:
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: app-secrets
    external-dns.alpha.kubernetes.io/set-identifier: track-a-query-ingress-track-a-query-qa-green
    external-dns.alpha.kubernetes.io/aws-weight: "100"
spec:
  tls:
    - hosts:
        - qa.track-a-query.service.justice.gov.uk
      secretName: track-a-query-certificate
  rules:
    - host: qa.track-a-query.service.justice.gov.uk
      http:
        paths:
          - path: /
            backend:
              serviceName: track-a-query-service
              servicePort: 3000
